.welcome {
  text-align: center;
  margin: 2em;
  font-weight: 800;
  font-size: 5em;
  background-image: linear-gradient(black, white);
  background-image: url("https://img.goodfon.com/wallpaper/big/a/1b/fantastic-pokemon-home.webp");
}
