.list_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.title_list,
.filter_pokemon {
  margin-left: 1em;
}

.ant-card {
  border: solid black 0.1em;
  margin: 0.4em;
}

img {
  height: 9em;
  margin: 0.2em;
}
